# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Temp
temp/
logs/
*.log
gemini.md
GEMINI.md
*.gemini.md

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.ruff_cache/
pytest-cache-files-*/
